<header>
  <h1 class="text-center">Flatlander Crafted Gems</h1>
  <h2 class="text-center">– An Angular store –</h2>
</header>

<section>
<form name="productForm" ng-controller="StoreController as productCtrl" ng-submit="product.Ctrl.create(newProduct)">
  Name: <input type="text" name="name" ng-model="newGemstone.name">
  Price: <input type="text" name="price" ng-model="newGemstone.price">
  Description: <input type="text" name="description" ng-model="newGemstone.description">
  <button ng-click="create(newGemstone)">Create Gemstone</button>
</section>

<!--  Products Container  -->
<div class="list-group">
  <!--  Product Container  -->
  <div class="list-group-item" ng-repeat="product in products">
    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>
    Gallery:
    <!-- Image Gallery  -->
    <product-gallery></product-gallery>
    Info:
    <!-- Product Tabs  -->
    <product-tabs></product-tabs>
  </div>

</div>
