<!DOCTYPE html>
<html ng-app="StoreApp">
<head>
  <title>CodeSchoolAngular</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-controller="StoreController as store" ng-init="index()">
    <%= yield %>
  </div>
</body>
</html>
